name: Backup

on:
  push:

jobs:

  backup:

    runs-on: ubuntu-latest

    steps:

      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Backup repositories from GitHub
        run: ${GITHUB_WORKSPACE}/backup.sh
        env:
          GITHUB_TOKEN: ${{ secrets.GH_CLI_TOKEN }}
          GH_CLI_TOKEN: ${{ secrets.GH_CLI_TOKEN }}
          GH_OWNER: ${{ secrets.GH_OWNER }}
          GH_LIST_LIMIT: 5
